In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../results/csv/metrics.csv')

In [6]:
# Set display format to avoid scientific notation, adjust the precision as needed
pd.options.display.float_format = '{:.5f}'.format
df.describe()

,MSE,RMSE,LogRMSE,AbsRel,SqureREL,SSIM,A1,A2,A3,time
count,200.00000,200.00000,200.00000,200.00000,200.00000,200.00000,200.00000,200.00000,200.00000,200.00000
mean,0.00056,0.02056,0.20065,0.16861,0.00588,0.00000,0.79376,0.94673,0.98146,0.04960
std,0.00065,0.01166,0.09449,0.10224,0.00763,0.00000,0.18762,0.08834,0.04549,0.02670
min,0.00001,0.00291,0.06537,0.04718,0.00022,0.00000,0.23557,0.54938,0.69956,0.04643
25%,0.00015,0.01236,0.13737,0.09885,0.00161,0.00000,0.67718,0.94646,0.98646,0.04707
50%,0.00031,0.01752,0.17099,0.13341,0.00295,0.00000,0.87651,0.98082,0.99684,0.04737
75%,0.00063,0.02514,0.24603,0.20157,0.00679,0.00000,0.93488,0.99679,1.00000,0.04806
max,0.00312,0.05584,0.49429,0.54657,0.04065,0.00000,0.99936,1.00000,1.00000,0.42480