In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('../results/csv/metrics.csv')

In [66]:
# Set display format to avoid scientific notation, adjust the precision as needed
pd.options.display.float_format = '{:.5f}'.format
df.describe()

,MSE,RMSE,LogRMSE,AbsRel,SqureREL,SSIM,A1,A2,A3,time
count,178.00000,178.00000,178.00000,178.00000,178.00000,178.00000,178.00000,178.00000,178.00000,178.00000
mean,0.14083,0.32850,0.33897,0.36208,0.26512,0.00000,0.62570,0.91618,0.97737,0.07972
std,0.15809,0.18195,0.10815,0.20177,0.22652,0.00000,0.25744,0.11063,0.02726,0.01973
min,0.00056,0.02360,0.04557,0.03689,0.00112,0.00000,0.01699,0.40320,0.79920,0.07627
25%,0.03851,0.19625,0.26994,0.22965,0.10070,0.00000,0.48053,0.91111,0.97522,0.07681
50%,0.07960,0.28214,0.33488,0.31205,0.21800,0.00000,0.69064,0.96257,0.98488,0.07701
75%,0.17783,0.42168,0.40082,0.42601,0.35161,0.00000,0.82249,0.98055,0.99246,0.07725
max,0.85326,0.92372,0.70335,1.32842,1.51622,0.00000,1.00000,1.00000,1.00000,0.33580