In [163]:
import pandas as pd

In [164]:
df = pd.read_csv('../results/csv/metrics.csv')

In [165]:
# Set display format to avoid scientific notation, adjust the precision as needed
pd.options.display.float_format = '{:.5f}'.format
df.describe()

,MSE,RMSE,LogRMSE,AbsRel,SqureREL,SSIM,A1,A2,A3,time
count,654.00000,654.00000,654.00000,654.00000,654.00000,654.00000,654.00000,654.00000,654.00000,654.00000
mean,0.06441,0.20218,0.05958,0.04078,0.01451,0.00000,0.98778,0.99822,0.99951,0.02205
std,0.13185,0.15352,0.02847,0.01890,0.03182,0.00000,0.02320,0.00580,0.00290,0.00872
min,0.00101,0.03173,0.02196,0.01613,0.00083,0.00000,0.75895,0.93055,0.93952,0.02155
25%,0.01039,0.10191,0.04076,0.02879,0.00395,0.00000,0.98806,0.99875,0.99989,0.02165
50%,0.02241,0.14971,0.05235,0.03573,0.00742,0.00000,0.99560,0.99980,1.00000,0.02170
75%,0.06153,0.24806,0.07124,0.04800,0.01541,0.00000,0.99881,1.00000,1.00000,0.02175
max,1.73018,1.31536,0.32914,0.20907,0.69323,0.00000,1.00000,1.00000,1.00000,0.24469